.header{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

.header-text{
    text-align: center;
    background-color: #012758;
    color: white;
    padding: 10px;
    font-size: 14px;
}

.header-text span{
    font-weight: bold;
}

.logo{
    font-size: 26px;
    font-weight: bold;
    width: 80px;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    line-height: 50px;
    text-align: center;
     gap: 10px;
}


/* 왼쪽 u */
.wave-left {
  font-style: italic;
  display: inline-block;
  color: #012758;
  position: absolute;
  left: -3px;
  top: 35px;
  font-size: 42px;
}

/* 빨간 S */
.center-s {
  color: red;
  font-size: 85px;
  transform: rotate(-5deg) skewX(-5deg);
  display: inline-block;
  position: relative;
  z-index: 10;
}

/* 오른쪽 n */
.wave-right {
  font-style: italic;
  position: absolute;
  display: inline-block;
  color: #012758;
   left: 50px;
  top: 35px;
  font-size: 42px;
}



.logo img{
    width: 100%;
}

.login{
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    
}

.login>a{
    color: #333;
    padding-right: 10px;
    font-weight: bold;
}

.header-menu{
    width: 100%;
    display: flex;
    margin-top: 95px;
    border-bottom: 1px solid silver;
    justify-content: center;
    margin-right: 170px;
    
}



.header-list li img{
    width: 24px;
    height: 24px;
}

.header-list{
    display: flex;
    margin-bottom: 30px;
}

.header-list>li{
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.header-icon{
    position: absolute;
    right: 20px;
    top: 95px;
    display: flex;
    
}



.header-icon>a{
    padding-left: 25px;
    width: 32px;
    height: 32px;
}

.header-icon img{
    width: 100%;
    
}