.header{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

.header-text{
    text-align: center;
    background-color: #012758;
    color: white;
    padding: 10px;
    font-size: 14px;
}

.header-text span{
    font-weight: bold;
}

.logo{
    margin-top: 20px;
    width: 70px;
    height: 70px;
    margin-left: 0px;
}



.logo img{
    width: 100%;
}

.login{
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    
}

.login>a{
    color: #666;
    padding-right: 10px;
}

.header-menu{
    width: 100%;
    display: flex;
    margin-top: 95px;
    border-bottom: 1px solid silver;
}

.header-list li img{
    width: 24px;
    height: 24px;
}

.header-list{
    display: flex;
    margin-bottom: 30px;
}

.header-list>li{
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.header-icon{
    position: absolute;
    right: 20px;
    top: 95px;
    display: flex;
    
}

.header-icon>a{
    padding-left: 25px;
    width: 32px;
    height: 32px;
}

.header-icon img{
    width: 100%;
    
}