.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.banner{
    width: 100%;
}

.banner img{
    width: 100%;
}

.content-menu-list{
    display: flex;
    justify-content: space-between;
}